.container {
  margin: 1.5em auto 1.5em auto;
  max-width: 50em;
}
h1 {
  font-size: 2.3rem;
}
h2 {
  font-size: 1.4em;
}
a {
  color: #0645ad;
}
img#banner {
  max-width: 100%;
  margin-bottom: 1em; 
}
div#support img {
    max-width: 15em;
}
a#registration {
  font-weight: bold;
}

#lastupdate {
  font-size: .8rem;
}